$primary: #272350;
$secondary: #00acb0;

$form-check-bg: #D9D9D9;

$input-border-color: $primary;

.nav-item btn {
    margin-left: 0;
    margin-right: 1rem;
}

.navbar .container-fluid {
    margin-right: 1rem;
}

header {
    background-color: $primary;
    color:white;  
    padding-top: 1rem;
    padding-bottom: 1rem;
}

header h2, 
header h3 {
    color:white;  
}

.margin {
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
    padding: 1.5rem;
}

#login {
    width: 30rem;
}

.nav-item .btn {
    margin-left: 1rem;
}

//Create device
.form {
    width: 40%;
    margin: auto;
    margin-top: 2em;
    color: #4f4f4f;
}

.form input {
    color: #4f4f4f;
}

.from h1{
    margin-bottom: 1em;
}

#sell_assistant_screenSize input[type="checkbox"]{
    margin : 1rem;
}

#device_store {
    margin-left: 0.5em;
}

#phone-image-index {
    width: 100%;
}

#phone-image-show {
    width: 67%;
}

// form accordion
#flush-collapseThree img,
#flush-collapseFour img{
    height: 2rem;
}

//image parametres
#collapseThree img,
#collapseFour img {
    height: 2rem;;
}

//Card
.card-title {
    color: $secondary;
}

.card:hover {
    border: 2px solid $primary;
}


//Boutton 
form a.btn.btn-secondary.mt-4,
form a.btn btn-warning.mt-4 {
    margin-left: 26%;
}

form a.btn.btn-secondary.mt-4{
    margin-right: 3em;
}

@import "~bootswatch/dist/minty/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/minty/bootswatch";