$primary: #272350;
$secondary: #00acb0;

.nav-item btn {
    margin-left: 0;
    margin-right: 1rem;
}

.navbar .container-fluid {
    margin-right: 1rem;
}

header {
    background-color: $primary;
    color:white;  
    padding-top: 1rem;
    padding-bottom: 1rem;
}

header h1 {
    color:white;  
}

.margin {
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
    padding: 1.5rem;
}

#login {
    width: 30rem;
}

.nav-item .btn {
    margin-left: 1rem;
}

//Create device
.form {
    width: 40%;
    margin: auto;
    margin-top: 2em;
    color: #4f4f4f;
}

.form input {
    color: #4f4f4f;
}

.from h1{
    margin-bottom: 1em;
}

#device_store {
    margin-left: 0.5em;
}

#phone-image {
    width: 100%;
}

// form accordion
.accordion #collapseOne img.img_icon fa-border {
    height: 30px;
}

//image parametres
#collapseThree img,
#collapseFour img {
    height: 30px;
}

.form form button.btn.btn-primary.mt-4{
    margin-left: 50%;
    margin-bottom: 3em;
}

@import "~bootswatch/dist/minty/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/minty/bootswatch";